*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2{
    font-family: 'Pacifico', cursive;
}
body{
    background-color: #C2A83E;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    font-family: 'Roboto', sans-serif;
}
#logo{
    display: inline;
    font-size: 20px;
}
#navLinks{
    display: inline;
}