*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2{
    font-family: 'Pacifico', cursive;
    text-align: center;
}
body{
    background-color: #FFADC6;
    font-family: "Helvetica",sans-serif;
    scroll-behavior: smooth;
}
p{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1.4erm;
    margin-top: 5px;
    line-height: 1.5rem;
    font-weight: 300px;
    letter-spacing: 0.05rem;
}


/* nav styles */
#nav-container{
    display: flex;
    justify-content: space-between;
    background: #E5E7D7;
    position: fixed;
    width: 100vw;
    clear: both;
}
#logo{
    font-size: 50px;
    font-weight: 900;
    margin-top: -20px;
}
#nav-links ul a {
    margin: 10px;
    padding: 20px;
    list-style-type: none;
    align-items: center;
}
#nav-links ul li{
    display: inline-block;
    margin-top: 50px;
}
/* End of nav styles */


/* header styles */
#header-container{
    display: flex;
    margin-top: 70px;
}
#header-container img{
    margin: 10px;
    padding: 10px;
}
#header-container p{
    margin: 10px;
    padding: 20px;
    text-align: center;
}
/* End of header styles */


/* section 1 styles */
#section-1-container{
    display: flex;
    width: 25vw;
    margin-left: 30px;
}
#section-1-container .artists img{
    height: 300px;
    width: auto;
}
.artists{
    display: flex;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* End of section 1 styles */


/* section 2 styles */
#section-2-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* End of section 2 styles */


/* footer styles */

#bottom{
    background-color: #E0EEC6;
    text-align: center;
    font-size: 30px;
    padding: 50px;
}

/* End of footer styles */






